.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Home section:first-child {
    background-image: url(../../Images/Homepage_Image.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 1.5rem;
    width: 100%;
}
.Home section:first-child h1 {
    color: white;
    font-size: 50px;
}
.Home section:last-child {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    align-items: center;
    justify-content: center;
}
.Home figure {
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    margin: auto;
    padding-bottom: 1rem;
    text-align: center;
}
.Information {
    text-decoration: none;
}
.Information div {
    display: flex;
    flex-direction: column;
}
.Gif {
    margin: auto;
    width: 1300px;
}
.Loading {
    display: block;
    margin: auto;
    width: 250px;
}
.Information img {
    border-radius: 4px;
    width: 250px;
}
.Home figure div {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
#Edit {
    background-color: orangered;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 14.5rem;
    padding: 1rem 1rem;
}
#Delete {
    background-color: orangered;
    border-radius: 50%;
    cursor: pointer;
    padding: 1rem 1rem;
}
#Edit:hover {
    background-color: black;
    color: orangered;
}
#Delete:hover {
    background-color: black;
    color: orangered;
}
.Home figcaption h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}
.Failure {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 1300px;
}

@media (max-width: 768px) {
    .Home section:first-child {
        height: 200px;
        margin: auto;
        margin-bottom: 2rem;
        width: 768px;
    }
    .Home section:first-child h1 {
        font-size: 45px;
    }
    .Home section:last-child {
        display: grid;
        grid-template-columns: 350px 350px;
        align-items: center;
        justify-content: center;
    }
    .Information img {
        border-radius: 3px;
        width: 300px;
    }
    .Gif {
        margin: auto;
        width: 768px;
    }
    #Edit {
        margin-left: 12.5rem;
    }
}

@media (max-width: 428px) {
    .Home section:first-child {
        height: 200px;
        margin: auto;
        margin-bottom: 2rem;
        width: 428px;
    }
    .Home section:first-child h1 {
        font-size: 45px;
    }
    .Home section:last-child {
        display: grid;
        grid-template-columns: 428px;
        align-items: center;
        justify-content: center;
    }
    .Information img {
        border-radius: 3px;
        width: 350px;
    }
    .Gif {
        margin: auto;
        width: 428px;
    }
    #Edit {
        margin-left: 16.5rem;
    }
}

@media (max-width: 375px) {
    .Home section:first-child {
        height: 200px;
        margin: auto;
        margin-bottom: 2rem;
        width: 375px;
    }
    .Home section:first-child h1 {
        font-size: 40px;
    }
    .Home section:last-child {
        display: grid;
        grid-template-columns: 375px;
        align-items: center;
        justify-content: center;
    }
    .Information img {
        border-radius: 3px;
        width: 300px;
    }
    .Gif {
        margin: auto;
        width: 375px;
    }
    #Edit {
        margin-left: 13.5rem;
    }
}