.Create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Create section:first-child {
    background-image: url(../../Images/Create_HomeImage.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 0.5rem;
    width: 100%;
}
.Create section:first-child h1 {
    color: white;
    font-size: 50px;
}
.Create section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
}
.Create form {
    display: flex;
    flex-direction: column;
    row-gap: 0.65rem;
    margin-top: 0.5rem;
}
.Create form div {
    display: flex;
    flex-direction: column;
}
.Create form p label {
    text-align: left;
}
.Create form input {
    border-radius: 3px;
    height: 40px;
    margin-top: 0.5rem;
    outline: 0;
    width: 500px;
}
.Create form input[type="text"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.65rem;
}
.Create form input[type="email"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.65rem;
}
.Create form input[type="number"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.65rem;
}
.Description {
    height: 100px;
}
.Create form textarea {
    border: 2px solid black;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: 500px;
}
.Create form textarea[type="text"]{
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.Create form select {
    border: 2px solid black;
    border-radius: 3px;
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: 500px;
}
.Create form div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Create form button {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    margin-top: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 300px;
}

@media (max-width:768px) {
    .Create section:first-child  {
        background-image: url(../../Images/Create_HomeImage.jpg);
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin: auto;
        margin-bottom: 2.5rem;
        width: 768px;
    }
}

@media (max-width:428px) {
    .Create section:first-child  {
        background-image: url(../../Images/Create_HomeImage.jpg);
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin: auto;
        margin-bottom: 2.5rem;
        width: 428px;
    }
    .Create section:first-child h1 {
        font-size: 40px;
    }
    .Create form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Create form input {
        width: 350px;
    }
    .Create form select {
        width: 350px;
    }
    .Create form textarea {
        width: 350px;
    }
    .Create form button {
        background-color: black;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-family: 'Instrument Serif', serif;
        font-size: 18px;
        margin-top: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        width: 350px;
    }
}

@media (max-width:375px) {
    .Create section:first-child  {
        background-image: url(../../Images/Create_HomeImage.jpg);
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin: auto;
        margin-bottom: 2.5rem;
        width: 375px;
    }
    .Create section:first-child h1 {
        font-size: 40px;
    }
    .Create form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Create form input {
        width: 320px;
    }
    .Create form select {
        width: 320px;
    }
    .Create form textarea {
        width: 320px;
    }
    .Create form button {
        background-color: black;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-family: 'Instrument Serif', serif;
        font-size: 18px;
        margin-top: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        width: 320px;
    }
}