@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

.Register section:first-child {
    background-image: url("../../../Images/Profile_HomePage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: auto;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
    width: 100%;
} 
.Register section:first-child h1 {
    color: white;
    font-size: 50px;
} 
.Register section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    margin-bottom: 4.5rem;
}
.Register form {
    margin-top: 0.5rem;
}
.Register form h1 {
    background-color: black;
    border-radius: 5px;
    color: white;
    margin-bottom: 0.5rem;
    padding: 0.55rem 2rem;
    text-align: center;
    width: 400px;
}
.Register form div {
    display: flex;
    flex-direction: column;
    row-gap: 0.65rem;
    margin-bottom: 0.5rem;
}
.Register form div label {
    text-align: left;
}
.Register form input {
    border-radius: 3px;
    height: 40px;
    outline: 0;
    width: 400px;
}
.Register form input[type="text"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.65rem;
}
.Register form input[type="email"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.65rem;
}
.Register form input[type="number"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.65rem;
}
.Register form input[type="Password"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.65rem;
}
.Error {
    color: red;
    font-size: 18px;
    text-align: center;
}
.Register form button {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    margin-top: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 400px;
}

@media (max-width:768px) {
    .Register section:first-child {
        background-image: url("../../../Images/Profile_HomePage.jpg");
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        margin: auto;
        margin-bottom: 1rem;
        padding-bottom: 5rem;
        width: 760px;
    }
}

@media (max-width:428px) {
    .Register section:first-child {
        background-image: url("../../../Images/Profile_HomePage.jpg");
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        margin: auto;
        margin-bottom: 1rem;
        padding-bottom: 5rem;
        width: 420px;
    }
    .Register form input {
        border-radius: 3px;
        height: 40px;
        outline: 0;
        width: 350px;
    }
    .Register form button {
        background-color: black;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-family: 'Instrument Serif', serif;
        font-size: 18px;
        margin-top: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        width: 350px;
    }
}

@media (max-width:375px) {
.Register section:first-child {
    background-image: url("../../../Images/Profile_HomePage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin: auto;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
    width: 370px;
}
.Register form input {
    border-radius: 3px;
    height: 40px;
    outline: 0;
    width: 320px;
}
.Register form button {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    margin-top: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 320px;
}
}