@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  overflow-x: hidden;
}
.Success {
  color: green;
  font-size: 18px;
  text-align: center;
}